.slider-nav-thumbnails .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.slider-nav-thumbnails .swiper-slide {
  min-width: 80%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}
